# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\RayleighZ_ClionPrj\C51_GameBoy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
